<p id="notice"><%= notice %></p>

<p>
  <b>Fname:</b>
  <%= @agent.fname %>
</p>

<p>
  <b>Lname:</b>
  <%= @agent.lname %>
</p>

<p>
  <b>Email:</b>
  <%= @agent.email %>
</p>


<%= link_to 'Edit', edit_agent_path(@agent) %> |
<%= link_to 'Back', agents_path %>
